.messagesSection {
  height: 90%;
  min-height: 70vh;
  max-height: 70vh;
  margin-top: 0px;
  overflow-y: auto;
}

.messageInputField {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 18px;
  outline:none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-top-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
  border-top-left-radius: 30px 30px;
  width: 82%;
}



/* Message component styles here 👇 */
.botCard {
  width: 80%;
  border-bottom-right-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
  background-color: grey;
  margin-left: 5px;
  margin-top: 10px;
  color: white;
  margin-bottom: 10px;
}

.userCard {
  width: 80%;
  border-bottom-right-radius: 30px 30px;
  border-top-left-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
  float: right;
  background-color: #6C63FF;
  margin-right: 5px;
  margin-top: 10px;
  color: white;
}

.messagesSection::-webkit-scrollbar {
  display: none;
}

.messagesSection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 992px) {
  .inputSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 21px;
  }

  .userCard {
    width: 50%;
  }

  .botCard {
    width: 50%;
  }
}