.PrivatePickersFadeTransitionGroup-root:first-child {
  font-family: Noto Sans,Kanit,sans-serif;
  color: #69A454;
}
.PrivatePickersFadeTransitionGroup-root:last-child {
  font-family: Noto Sans,Kanit,sans-serif;
  color: #69A454;
}